; Linting configuration.

[flake8]
; ideal: 81px
max-line-length = 120
statistics = True
count = True
ignore =
    ; too many leading '#' for block comment
    E266
    ; multiple spaces before operator
    E221
    ; imported but not used
    ; F401
    ; line break before binary operator
    W503
    ; line break after binary operator
    W504
    ; module level import not at top of file
    E402
exclude =
    src/archive/*